body{
    background-size: cover;
}

.bg-1{ background-image: url('https://imagedelivery.net/qpiIkEiBAB3IQSnVgHlbAQ/58312a3e-5b7e-4c65-cc76-fe35513b5400/bg'); }
.bg-2{ background-image: url('https://imagedelivery.net/qpiIkEiBAB3IQSnVgHlbAQ/abc88fce-ca64-4ea1-b4c0-b32c48f96a00/bg'); }
.bg-3{ background-image: url('https://imagedelivery.net/qpiIkEiBAB3IQSnVgHlbAQ/2aa7f455-6d87-4a14-d70a-75f3fbdebd00/bg'); }
.bg-4{ background-image: url('https://imagedelivery.net/qpiIkEiBAB3IQSnVgHlbAQ/7fa7d449-064e-4506-d0d3-f1fb277fa300/bg'); }
.bg-5{ background-image: url('https://imagedelivery.net/qpiIkEiBAB3IQSnVgHlbAQ/4d493cf7-1de4-4239-8200-16806a680c00/bg'); }

/* Styles to center the image */

body {
    background-color: black;
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    height: 100vh; /* Use the full height of the viewport */
    margin: 0; /* Remove default margin */
}

img.logo {
    width: 120px;
    max-width: 100%; /* Ensures the image is responsive */
    max-height: 100vh; /* Ensures the image doesn't exceed the viewport height */
}

img.culture-100{
    width: 120px;
    position: absolute;
    top: 0;
    right: 100px;
}